doctype html
html
    head
        title China Carpet Tiles, Cowhide Patch Rugs (NP-053) - Suzhou Changyue Imp. &amp; Exp. Co., Ltd..
        meta(name='Keywords', content='Suzhou Changyue Imp. &amp; Exp. Co., Ltd., China Carpet Tiles, Cowhide Patch Rugs (NP-053), Cut &amp; Loop Pile Hotel Carpets')
        meta(name='Description', content='China Manufacturer, Trading Company of Carpet Tiles, Cowhide Patch Rugs (NP-053), Cut &amp; Loop Pile Hotel Carpets - Suzhou Changyue Imp. &amp; Exp. Co., Ltd.')
        link(rel='stylesheet', href='/css/base.css')
        link(rel='stylesheet', href='/css/header.css')
        link(rel='stylesheet', href='/css/admin_company.css')
        link(rel='stylesheet', href='/css/admin_product.css')
        link(rel='stylesheet', href='/css/company.css')
        link(rel='stylesheet', href='/css/admin_message.css')
        link(rel='stylesheet', href='/css/admin_login.css')
        link(rel='stylesheet', href='/css/coin-slider-styles.css')
        link(rel='stylesheet', href='/css/footer.css')
        link(rel='stylesheet', href='/css/jquery-ui-1.10.4.min.css')
        script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
        script(type='text/javascript', src='/js/jquery-ui-1.10.4.min.js')
        script(type='text/javascript', src='/js/coin-slider.min.js')
        script(type='text/javascript', src='/js/script.js')
    body
        div.header
            div.title-wraper
                div.title-inner
                    a(href='http://szchangyue.en.made-in-china.com/').title Suzhou Changyue Imp. & Exp. Co., Ltd.
            div.nav-wrapper
                div.nav
                    ul.menu
                        li.menu-item#index
                            a(href='/admin/index') Company
                        li.menu-item#list
                            a(href='/admin/product/list') Product
                        li.menu-item#inbox
                            a(href='/admin/message/inbox') Message Inbox
                        li.menu-item#achieved
                            a(href='/admin/message/achieved') Message Achieved
                        li.menu-item
                            a(href='/admin/logout') Logout

        block content

        div.clearfix
        div.footer
            div.footer-content.page
                div.copyright.block
                    p Copyright © 2014 Suzhou Changyue Imp. & Exp. Co., Ltd. All rights reserved.
        div(style="display:none")
            | <script src="http://s4.cnzz.com/z_stat.php?id=1000525584&web_id=1000525584" language="JavaScript"></script>
